
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #D5E1EF;
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--White, #FFF);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    align-items: flex-start;
    padding: 16px 16px 0px 16px;
}

.qr-bgr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 288px;
    border-radius: 10px;
    background-image: url(Oval.png);
}

.text-container {
    display: flex;
    height: 129px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 0px 40px 0px;
    font-family: outfit;
}

.title {
    color: var(--Dark-Navy, #1F314F);
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    width: 288px;
}

.description {
    color: var(--Grey, #7D889E);
    text-align: center;
    letter-spacing: 0.188px;
    width: 256px;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {


.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #D5E1EF;
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--White, #FFF);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    align-items: flex-start;
    padding: 85px 27px 85px 28p
}

.qr-bgr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 288px;
    border-radius: 10px;
    background-image: url(Oval.png);
}

.text-container {
    display: flex;
    height: 129px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 0px 40px 0px;
    font-family: outfit;
}

.title {
    color: var(--Dark-Navy, #1F314F);
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    width: 288px;
}

.description {
    color: var(--Grey, #7D889E);
    text-align: center;
    letter-spacing: 0.188px;
    width: 256px;
    font-size: 15px;
}

}